<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.springsource.ide.eclipse.gradle.launch">
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
<stringAttribute key="org.springsource.ide.eclipse.gradle.launch.JVM_ARGS" value="-Dtest.debug=true"/>
<stringAttribute key="org.springsource.ide.eclipse.gradle.launch.PROJECT" value="org.eclipse.xtend.gradle.plugin"/>
<listAttribute key="org.springsource.ide.eclipse.gradle.launch.TASKLIST">
<listEntry value=":clean"/>
<listEntry value=":jar"/>
<listEntry value=":test"/>
</listAttribute>
</launchConfiguration>
